<div class="wrapper">
  <select
    class="wrapper__actions poppins-medium"
    [formControl]="employeeControl"
  >
    <option value="admin">Login As Admin</option>
    <option value="supervisor">Login As Supervisor</option>
    <option value="employee">Login As Employee</option>
  </select>
  <div class="wrapper__links poppins-medium">
    <a [routerLink]="'ng-if-reference'">Ng If Reference</a>
    <a [routerLink]="'ng-switch-demo'">Ng Switch Demo</a>
    <a [routerLink]="'ng-template-demo'">Ng Template Demo</a>
    <a [routerLink]="'dynamic-components-demo'">Dynamic Components</a>
  </div>

  <div class="wrapper__content">
    <router-outlet />
  </div>
</div>
